# Secrets
.env
*.json

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
logs/
MEN/
WOMENN_input_csv/
Processed/
Woment_input_csv


# OS
.DS_Store

MONGO_CSV/
MONGO_CSV_single/
input_csv_REMAIN/
input_csv_remain_2/